{% extends 'base.html' %}
{% block content  %}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">FEATURE SELECTION</h1>
    <div class="row center">
      <h5 class="header col s12 light">This section shows the accuracy after applying several Feature Selection methods on the given dataset</h5>
    </div>

    <!--        Modal NEW LAUNCH-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Configuration</h4>
            <label for="dataset">Dataset</label><input id="dataset" type="text">
            <label for="criba">Criba</label><input id="criba" type="text">
            <label for="threshold">Threshold</label><input id="threshold" type="text">
            <label for="top-feat">Top Features</label><input id="top-feat" type="text">
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close btn waves-effect waves-light red lighten-2">Cancel</a>
          <button onclick="submitLaunch()" class="modal-close btn waves-effect waves-light deep-purple lighten-1">Launch</button>
        </div>
    </div>

    <div class="row">

        <div class="col s2 left-align">
          <a id="btnNewLaunch" class="waves-effect waves-light btn modal-trigger" data-target="modal1">New launch!</a>
        </div>

        <div class="col s8 center-align">
          <div id="filter">
            <div class="input-field col s6 left-align">
            </div>
            <div class="input-field col s6 right-align">
              <select id="select-dataset">
                <option value="" disabled selected>Choose your dataset</option>
                <option value="titanic">Titanic</option>
                <option value="cancer">Cancer</option>
              </select>
              <label>Dataset</label>
            </div>
          </div>
        </div>

        <div class="col s2 right-align">
          <button onclick="analyzeConfig()" class="btn waves-effect waves-light deep-purple lighten-1">Analyze</button>
        </div>

    </div>

  </div>
</div>
<figure class="highcharts-figure">
    <div id="chart-config"></div>
</figure>
<div class="container" id="configs">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Configuration</th>
        <th>Criba</th>
        <th>Threshold</th>
        <th>Top Features</th>
        <th>Launchers</th>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>

      {% for row in entries %}
      <tr>
        <td>{{row.config_id}}</td>
        <td>{{row.criba}}</td>
        <td>{{row.threshold}}</td>
        <td>{{row.top_feat}}</td>
        <td>{{row.launchers}}</td>
        <td><a href="/result?config='{{row._id}}'">Show</a></td>
      </tr>
      {% else %}
      <tr>
        <td>Collection is empty</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/configs.js')}}"></script>
{% endblock %}