{% extends 'base.html' %}
{% block content  %}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">FEATURE SELECTION</h1>
    <div class="row center">
      <h5 class="header col s12 light">This section shows the accuracy after applying several Feature Selection methods on the given dataset</h5>
    </div>
    <div class="row center">
      <!-- Modal Trigger -->
<!--        <button data-target="modal-launch" class="btn modal-trigger">Modal</button>-->
      <div class="container">
        <a id="btnNewLaunch" class="waves-effect waves-light btn modal-trigger" data-target="modal1">New launch!</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Configuration</h4>
                <input id="dataset" type="text"><label for="dataset">Dataset</label>
                <input id="criba" type="text"><label for="criba">Criba</label>
                <input id="limit" type="text"><label for="limit">Limit of Features</label>
                <input id="pearson_base" type="text"><label for="pearson_base">Pearson base</label>
                <input id="ohe" type="text"><label for="ohe">One Hot Encoder</label>
                <input id="cat_feat" type="text"><label for="cat_feat">Categorical features</label>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close btn waves-effect waves-light red lighten-2">Cancel</a>
              <button onclick="submitLaunch()" class="modal-close btn waves-effect waves-light deep-purple lighten-1">Launch</button>
            </div>
        </div>
      </div>
    </div>
    <br><br>

  </div>
</div>

<div class="container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Dataset</th>
        <th>Criba</th>
        <th>Limit of Features</th>
        <th>Pearson base</th>
        <th>OneHotEncoder</th>
        <th>Categorical Features</th>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>

      {% for row in entries %}
      <tr>
        <td>{{row.dataset}}</td>
        <td>{{row.criba}}</td>
        <td>{{row.limit}}</td>
        <td>{{row.pearson_base}}</td>
        <td>{{row.ohe}}</td>
        <td>{{row.categorical_features}}</td>
        <td><a href="/result?config='{{row._id}}'">Show</a></td>
      </tr>
      {% else %}
      <tr>
        <td>Collection is empty</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/configs.js')}}"></script>
{% endblock %}